table{
    width: 100%;
}

thead tr th{
    background-color: rgb(133, 245, 133);
    border: 2px solid black;
    height: 50px;
    text-align: center;
}

tbody tr td{
    border: 2px solid black;
    height: 50px;
    text-align: center;
    font-weight: 500;
}

td :hover{
    background-color: grey;
}

tbody tr td button{
    border: none;
    margin: 2px;
    outline: none;
    border-radius: 10px;
    width: 65px;
    height: 35px;
    font-weight: 500;
}

.edit{
    background-color: rgb(63, 147, 236);
}
.delete{
    background-color: coral;
}